body {
  background-image: url('https://c.wallhere.com/photos/24/40/blackandwhite_bw_food_oklahoma_restaurant_downtown_icecream_oklahomacity-962350.jpg!d');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  font-size: 80px;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 36, 218, 0.5);
  letter-spacing: 3px;
  font-weight: bold;
}

.opacidad {
  opacity: 0.8;
}
